<div id="contactForm" class="col-sm-6">
                <h2 class="con-title"><%= __('CONTACT_FORM_TITLE') %></h2>
                <div id="DangerAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
                  En error occured !
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div id="LoadingAlert" class="alert alert-info text-center" role="alert">
                           <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                           <span class="sr-only">Loading...</span>
                </div>
                <div id="SuccessAlert" class="alert alert-success alert-dismissible fade show" role="alert">
                  This is a success alert—check it out!
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>
                </div>
                <form id="messageForm" role="form" class="text-center">
                  <div class="form-group">
                    <input type="text" class="form-control" name="name" id="user_name" placeholder="<%= __('CONTACT_FORM_NAME') %>" required>
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" name="email" id="your_email" placeholder="<%= __('CONTACT_FORM_EMAIL') %>" required>
                  </div>
                  <div class="form-group">
                    <textarea name="message" id="user_message" class="form-control" rows="5" required></textarea>
                  </div>

                  <button id="submitButton" type="submit" class="btn-cu medium"><%= __('CONTACT_FORM_SEND') %></button>
                </form>
            </div>
