<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<html class="no-js"> <!--<![endif]-->
    <head>
        <title><%= __('TITLE') %></title>

        <!-- meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link rel="icon" type="image/png" href="assets/favicon2.png" />

        <!-- stylesheets -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/css/animate.css">
        <link rel="stylesheet" href="assets/css/style.css">

        <!-- google fonts -->
        <link data-mincss="ignore" href='http://fonts.googleapis.com/css?family=Dosis:200,300,400,500|Lato:300,400,700,900,300italic,400italic,700italic,900italic|Raleway:400,200,300,500,100|Titillium+Web:400,200,300italic,300,200italic' crossorigin="anonymous" rel='stylesheet' type='text/css'>

        <script src="assets/js/modernizr.js"></script>

    </head>
    <body id="body">
        <!--[if lt IE 7]>
                <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Header area -->
        <header id="header">
            <div class="center text-center">
                <h1 class="bigheadline">Pierre Noël</h1>
                <h4 class="subheadline"><%= __('SUBLINE') %></h4>
            </div>
            <div class="bottom">
                <a data-scroll href="#navigation" class="scrollDown animated pulse" id="scrollToContent"><i class="pe-7s-angle-down-circle pe-va"></i></a>
            </div>
        </header>

        <!-- Navigation area -->
        <section id="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="logo text-nowrap"><a data-scroll href="#body" class="logo-text">Pierre Noël</a></div>
                    </div>
                    <div class="col-6">
                        <div class="nav">
                            <a id="menuDropdownLabel" href="#" data-placement="bottom" title="Menu" class="menu ml-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars" aria-hidden="true"></i></a>
                             <div class="dropdown-menu dropdown-menu-right" aria-labelledby="menuDropdownLabel">
                                 <div class="arrow-up"></div>
                                 <ul>
                                     <li><a data-scroll href="#body"><%= __('HOME_LABEL') %> <i class="fa fa-home" aria-hidden="true"></i></a><span class="menu-effect"></span></li>
                                     <li><a data-scroll href="#about"><%= __('ABOUT_LABEL') %> <i class="fa fa-user-circle" aria-hidden="true"></i></a><span class="menu-effect"></span></li>
                                     <li><a data-scroll href="#portfolio"><%= __('PORTFOLIO_LABEL') %> <i class="fa fa-briefcase" aria-hidden="true"></i></a><span class="menu-effect"></span></li>
                                     <li><a data-scroll href="#contact"><%= __('CONTACT_LABEL') %> <i class="fa fa-envelope" aria-hidden="true"></i></a><span class="menu-effect"></span></li>
                                     <%if (lang != "fr") { %>
                                        <li><a href="/fr">Français <i class="fa fa-globe" aria-hidden="true"></i></a><span class="menu-effect"></span></li>
                                     <% } %>
                                     <%if (lang != "en") { %>
                                        <li><a href="/en">English <i class="fa fa-globe" aria-hidden="true"></i></a><span class="menu-effect"></span></li>
                                     <% } %>
                                 </ul>
                             </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- Content Area -->

        <!-- about section -->

        <section id="about" class="about-area">
            <div class="container">
                <h2 class="block_title"><%= __('ABOUT_LABEL') %></h2>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p class="text-justify"><%= __('ABOUT_CONTENT_1') %></p>
                        <p class="text-justify"><%= __('ABOUT_CONTENT_2') %></p>
                        <p><%= __('DOWNLOAD_CV') %></p>
                        <div class="row mb-4">
                            <div class="col text-center">
                                <a href="assets/cv/PierreNoelCV_FR.pdf" class="btn btn-secondary btn-lg" download=""><i class="fa fa-download fa-fw"></i> <span class="network-name">CV (FR)</span></a>
                                <a href="assets/cv/PierreNoelResume_EN.pdf" class="btn btn-secondary btn-lg" download=""><i class="fa fa-download fa-fw"></i> <span class="network-name">CV (EN)</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <img src="assets/images/photo.png" class="img-fluid photo" alt="Pierre Picture">
                    </div>
                </div>
            </div>
        </section><!-- about -->

        <!-- Portfolio Area -->

        <section id="portfolio" class="portfolio-area">
            <div class="container">
                <h2 class="block_title"><%= __('PORTFOLIO_LABEL') %></h2>
                <div class="row port cs-style-3">
                    <div class="col-md-4 col-sm-6 col-12 item-space">
                        <figure>
                            <img src="assets/images/nibbler/thumbnail.jpg" alt="Nibbler In Game image">
                            <figcaption>
                                <h3>Nibbler</h3>
                                <span><%= __('EPITECH_PROJECT') %></span>
                                <a href="#" class="button" data-toggle="modal" data-target="#NibblerModal"><%= __('SEE_MORE') %></a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12 item-space">
                        <figure>
                            <img src="assets/images/bomberman/thumbnail.jpg" alt="Bomberman In Game image">
                            <figcaption>
                                <h3>Bomberman</h3>
                                <span><%= __('EPITECH_PROJECT') %></span>
                                <a href="#" class="button" data-toggle="modal" data-target="#BombermanModal"><%= __('SEE_MORE') %></a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12 item-space">
                        <figure>
                            <img src="assets/images/betweengoodandevil/thumbnail.jpg" alt="Between Good and Evil In Game image">
                            <figcaption>
                                <h3 style="font-size: 120%;">Between Good and Evil</h3>
                                <span><%= __('GGJ_PROJECT') %></span>
                                <a href="#" class="button" data-toggle="modal" data-target="#BGEModal"><%= __('SEE_MORE') %></a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12 item-space">
                        <figure>
                            <img src="assets/images/cerealsquad/thumbnail.jpg" alt="Cereal Squad In Game image">
                            <figcaption>
                                <h3>Cereal Squad</h3>
                                <span><%= __('KMU_PROJECT') %></span>
                                <a href="#" class="button" data-toggle="modal" data-target="#CerealSquadModal"><%= __('SEE_MORE') %></a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12 item-space">
                        <figure>
                            <img src="assets/images/endlesslab/thumbnail.jpg" alt="Endless lab In Game image">
                            <figcaption>
                                <h3>Endless Lab</h3>
                                <span><%= __('KMU_PROJECT') %></span>
                                <a href="#" class="button" data-toggle="modal" data-target="#EndlessLabModal"><%= __('SEE_MORE') %></a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12 item-space">
                        <figure>
                            <img src="assets/images/spirithunter/thumbnail.jpg" alt="Spirit Hunter In Game Image">
                            <figcaption>
                                <h3>Spirit Hunter</h3>
                                <span><%= __('EIP_PROJECT') %></span>
                                <a href="#" class="button" data-toggle="modal" data-target="#SpiritHunterModal"><%= __('SEE_MORE') %></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div><!-- container -->
        </section><!-- portfolio -->

        <!-- Contact Area -->

        <section id="contact" class="mapWrap">
            <div id="googleMap" style="width:100%;"></div>
            <div id="contact-area">
                <div class="container">
                    <h2 class="block_title"><%= __('CONTACT_LABEL') %></h2>
                    <div class="row">
                        <div class="col-12">
                        </div>
                        <div class="col-sm-6">
                            <div class="moreDetails">
                                <ul class="address">
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Lille - Paris, FRANCE</span></li>
                                    <li><i class="fa fa-envelope" aria-hidden="true"></i><span>pierre.noel@epitech.eu</span></li>
                                </ul>
                            </div>
                        </div>
                        <%- include ../partials/contact.ejs %>
                    </div>
                </div><!-- container -->
            </div><!-- contact-area -->
            <div id="social">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <ul class="scoialinks">
                                <li class="normal-txt text-center"><%= __('CONTACT_FIND_ME') %></li>
                                <li class="social-icons"><a class="github" href="https://github.com/Rekkuzan"></a></li>
                                <li class="social-icons"><a class="linkedin" href="https://www.linkedin.com/in/noel-pierre"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- social -->
        </section><!-- contact -->

        <!-- Footer Area -->

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="copyright">Copyright 2018 © Pierre NOËL.  <%= __('ALL_RIGHT') %></p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Modals -->
        <div id="NibblerModal"
             class="modal animated bounceIn"
             tabindex="-1"
             role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12 d-block d-md-none">
                            <h2 class="block_title">Nibbler</h2>
                        </div>
                        <div class="col-12 col-md-6">
                            <img class="img-fluid rounded mx-auto" src="assets/images/nibbler/nibbler3.png" alt="Nibbler image in game OpenGL" />
                            <img class="img-fluid rounded mx-auto" src="assets/images/nibbler/nibbler2.png" alt="Nibbler image in game Termcaps" />
                        </div>
                        <div class="col-12 col-md-6">
                            <h2 class="block_title d-none d-md-block">Nibbler</h2>
                            <p class="mt-3 text-justify"><%= __('MODAL_NIBBLER_1') %></p>
                            <p class="text-justify"><%= __('MODAL_NIBBLER_2') %></p>
                            <p class="text-justify"><%= __('MODAL_NIBBLER_3') %></p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary"
                        data-dismiss="modal">
                  <%= __('MODAL_CLOSE') %>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div id="BombermanModal"
             class="modal animated bounceIn"
             tabindex="-1"
             role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12 d-block d-md-none">
                            <h2 class="block_title">Bomberman</h2>
                        </div>
                        <div class="col-12 col-md-6">
                            <img class="img-fluid rounded mx-auto" src="assets/images/bomberman/bomberman.png" alt="Bomberman image in game" />
                            <img class="img-fluid rounded mx-auto" src="assets/images/bomberman/bomberman2.png" alt="Bomberman image in game" />
                        </div>
                        <div class="col-12 col-md-6">
                            <h2 class="block_title d-none d-md-block">Bomberman</h2>
                            <p class="mt-3 text-justify"><%= __('MODAL_BOMBERMAN_01') %></p>
                            <p class="text-justify"><%= __('MODAL_BOMBERMAN_02') %></p>
                            <p class="text-justify"><%= __('MODAL_BOMBERMAN_03') %></p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary"
                        data-dismiss="modal">
                  <%= __('MODAL_CLOSE') %>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div id="BGEModal"
             class="modal animated bounceIn"
             tabindex="-1"
             role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12 d-block d-md-none">
                            <h2 class="block_title">Between Good and Evil</h2>
                        </div>
                        <div class="col-12 col-md-6">
                            <img class="img-fluid rounded mx-auto" src="assets/images/betweengoodandevil/betweengoodandevil.png" alt="betweengoodandevil image in Game" />
                            <img class="img-fluid rounded mx-auto" src="assets/images/betweengoodandevil/betweengoodandevil2.png" alt="betweengoodandevil image in Game" />
                        </div>
                        <div class="col-12 col-md-6">
                            <h2 class="block_title d-none d-md-block">Between Good and Evil</h2>
                            <p class="mt-3 text-justify"><%= __('MODAL_BGAE_1') %></p>
                            <p class="text-justify"><%= __('MODAL_BGAE_2') %></p>
                            <p><a class="btn btn-info" href="http://globalgamejam.org/2016/games/between-good-and-evil"><%= __('DOWNLOAD_GGJ') %> <i class="fa fa-download"></i></a></p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary"
                        data-dismiss="modal">
                  <%= __('MODAL_CLOSE') %>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div id="CerealSquadModal"
             class="modal animated bounceIn"
             tabindex="-1"
             role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12 d-block d-md-none">
                            <h2 class="block_title">Cereal Squad</h2>
                        </div>
                        <div class="col-12 col-md-6">
                            <img class="img-fluid rounded mx-auto" src="assets/images/cerealsquad/cerealsquad02.png" alt="Cereal Squad image In Game" />
                            <img class="img-fluid rounded mx-auto" src="assets/images/cerealsquad/cerealsquad03.png" alt="Cereal Squad image In Game" />
                        </div>
                        <div class="col-12 col-md-6">
                            <h2 class="block_title d-none d-md-block">Cereal Squad</h2>
                            <p class="mt-3 text-justify"><%= __('MODAL_CEREALSQUAD_1') %></p>
                            <p class="text-justify"><%= __('MODAL_CEREALSQUAD_2') %></p>
                            <p class="text-justify"><%= __('MODAL_CEREALSQUAD_3') %></p>
                            <p><a class="btn btn-danger" href="https://www.youtube.com/watch?v=957TYuNsU_Q"><i class="fa fa-youtube-play"></i> Trailer</a></p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary"
                        data-dismiss="modal">
                  <%= __('MODAL_CLOSE') %>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div id="EndlessLabModal"
             class="modal animated bounceIn"
             tabindex="-1"
             role="dialog"
             aria-labelledby="EndlessLabModal"
             aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12 d-block d-md-none">
                            <h2 class="block_title">Endless Lab</h2>
                        </div>
                        <div class="col-12 col-md-6">
                            <img class="img-fluid rounded mx-auto" src="assets/images/endlesslab/endlesslab02.png" alt="Endless Lab image in game OpenGL" />
                            <img class="img-fluid rounded mx-auto" src="assets/images/endlesslab/endlesslab05.png" alt="Endless Lab image in game Termcaps" />
                        </div>
                        <div class="col-12 col-md-6">
                            <h2 class="block_title d-none d-md-block">Endless Lab</h2>
                            <p class="mt-3 text-justify"><%= __('MODAL_ENDLESSLAB_1') %></p>
                            <p class="text-justify"><%= __('MODAL_ENDLESSLAB_2') %></p>
                            <p class="text-justify"><%= __('MODAL_ENDLESSLAB_3') %></p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary"
                        data-dismiss="modal">
                  <%= __('MODAL_CLOSE') %>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div id="SpiritHunterModal"
             class="modal animated bounceIn"
             tabindex="-1"
             role="dialog"
             aria-labelledby="SpiritHunterModal"
             aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12 d-block d-md-none">
                            <h2 class="block_title">Spirit Hunter</h2>
                        </div>
                        <div class="col-12 col-md-6">
                            <img class="img-fluid rounded mx-auto" src="assets/images/spirithunter/logo.png" alt="Spirit Hunter logo" style="max-width: 150px;" />
                            <img class="img-fluid rounded mx-auto" src="assets/images/spirithunter/screenshot.jpg" style="max-width: 250px;" alt="Spirit Hunter" />
                            <img class="img-fluid rounded mx-auto" src="assets/images/spirithunter/screenshot2.jpg" style="max-width: 250px;" alt="Spirit Hunter" />
                        </div>
                        <div class="col-12 col-md-6">
                            <h2 class="block_title d-none d-md-block">Spirit Hunter</h2>
                            <p class="mt-3 text-justify"><%= __('MODAL_SPIRIT_HUNTER_1') %></p>
                            <p class="text-justify"><%= __('MODAL_SPIRIT_HUNTER_2') %></p>
                            <p><a class="btn btn-info" href="http://eip.epitech.eu/2018/spirithunter"><i class="fa fa-laptop"></i> Spirit Hunter</a></p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary"
                        data-dismiss="modal">
                  <%= __('MODAL_CLOSE') %>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- modal -->

        <!-- Necessery scripts -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDHcQBTy3_pWkXfbnlL0rzpgIlZZxTjnJg"></script>
        <script src="assets/js/jquery.actual.min.js"></script>
        <script src="assets/js/smooth-scroll.js"></script>
        <script src="assets/js/script.js"></script>

    </body>
</html>
